@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

canvas
{
    position: fixed; /* Stays fixed to the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    z-index: 0; /* Place the canvas behind the content */
    filter: blur(8px);
}

:root 
{
    --light-blue: #87d1ef;
    --light-pink: #64a1c2;
    --menu-backgroundcolor: #466480;
    --content-backgroundcolor: #4664807e;
    --base-backgroundcolor: #3c3d3b;
    --base-fontcolor: #1b2026;
    --base-highlight-fontcolor: #87d1ef;
    --active-link-border-radius: 25px;
    --active-content-border-radius: 25px;
    --active-link-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
    --page-z-index: 2;
}

a 
{
    text-decoration: none;
    color: inherit;
}

body 
{
    font-family: "Fira Sans", sans-serif;
    color: var(--base-fontcolor);
    background: var(--base-backgroundcolor);
}


.content-container 
{
    display: none;
    position: relative;
    text-align: left;
    padding: 20px;
    background: var(--content-backgroundcolor);
    border-radius: var(--active-content-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 20px auto;
}

.content-container.active 
{
    display: block;
    z-index: var(--page-z-index);
}

/* Layout for the content container */
.content-layout 
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-gallery 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-content: center;
    align-items: center;
    gap: 15px;
}

.image-gallery img 
{
    min-width: 10%;
    max-width: 100%;
    background: var(--menu-backgroundcolor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    transition: transform 0.3s ease;
}

.image-gallery img:hover 
{
    transform: scale(1.2);
}

h1 
{
    margin-bottom: 20px;
}

/* MENU STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-container 
{
    max-width: 1000px;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
}

.menu 
{
    list-style: none;
    position: relative;
    display: inline-flex;
    background: var(--menu-backgroundcolor);
    padding: 10px;
    border-radius: var(--active-link-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    z-index: var(--page-z-index);
}

.menu::before 
{
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateX(var(--transformJS));
    width: var(--widthJS);
    height: calc(100% - 20px);
    border-radius: var(--active-link-border-radius);
    background: var(--light-pink);
    transition: all 0.3s linear;
}

.menu li a 
{
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--base-fontcolor);
    transition: all 0.3s linear;
}

.menu li a:hover
{
    color: var(--base-highlight-fontcolor);
}

.menu li:not(:last-child) 
{
    margin-right: 20px;
}

@media (max-width: 800px) 
{
    .menu,
    .menu li 
    {
        display: inline-block;
    }

    .menu li.active a 
    {
        background: var(--light-pink);
        border-radius: var(--active-link-border-radius);
    }

    .menu::before 
    {
        display: none;
    }
}

.page-footer 
{
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: var(--page-z-index);
}

.page-footer a 
{
    display: flex;
    margin-left: 4px;
}